body {
    overflow-x: hidden;
}

.pd-71 {
    padding-top: 71px;
}

.pd-20 {
    padding-bottom: 50px;
}
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainBgColor {
    background-color: #0c1e25;
    width: 100%;
}
.secondaryBgColor {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    width: 100%;
}
.movies-container img {
    width: 350px;
    height: 550px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
}
.mainColor {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
#Nothing {
    display: none;
}
.secondaryColor {
    color: #ff206e;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.movies-container h3,
.movies-container img {
    cursor: pointer;
    transition: 0.7s;
}
.movies-container img:hover {
    transform: scale(1.05);
    overflow: hidden;
}
#container {
    position: relative;
}

.card {
    position: relative;
    overflow: hidden;
    transition: 0.8s;
}

.card img {
    object-fit: cover;
    transition: 1s ease-in-out;
    filter: grayscale(0.7);
    border-radius: 18px;
}

.card:hover img {
    width: 120%;
    border-radius: 18px;
    filter: grayscale(0);
}

#hide {
    display: none;
}
#smaller-Text {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
#playIcon {
    position: absolute;
    bottom: 70px;
    left: 20px;
    visibility: visible;
    z-index: 100;
    cursor: pointer;
}
#Exit1 {
    position: absolute;
    /* margin-left: 560px; */
    right: 17%;
    margin-top: 67px;
    z-index: 998;
}
#Nothing {
    color: green;
}
#NoContainer {
    opacity: 0.35;
}
.DarkTheme {
    color: #fff;
}
.LightThemeClose {
    color: #ff206e;
}
